<<<!-- sidebar-admin.html -->
<div th:fragment="sidebar">
    <link rel="stylesheet" th:href="@{/css/admin_sidebar.css}" />

    <nav id="sidebar" class="sidebar">
        <div class="sidebar-header text-center">
            <a th:href="@{/admin}" class="logo-link d-block">
                <img th:src="@{/img/logo_sanmiguel.png}" alt="Logo Municipalidad">
            </a>
            <a th:href="@{/admin}" class="municipality-name d-block text-decoration-none">
                San Miguel
            </a>
        </div>

        <ul class="nav flex-column text-white">

            <!-- Usuarios -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/usuarios/registrados}">
                    <i class="bi bi-person-fill"></i> Usuarios
                </a>
            </li>

            <!-- Servicios -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/servicios/disponibles}">
                    <i class="bi bi-tools"></i> Sedes
                </a>
            </li>
            <!-- Pagos y Reembolsos -->
            <li class="nav-item">
                <a th:href="@{/admin/pagos/historial}" class="nav-link">
                    <i class="bi bi-credit-card"></i> Pagos
                </a>
            </li>

            <!-- Tarifas y Promociones -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/admin/tarifas}">
                    <i class="bi bi-cash-coin"></i> Tarifas
                </a>
            </li>
            <!-- Reservas -->
            <li class="nav-item">
                <a th:href="@{/admin/reservas}" class="nav-link"><i class="bi bi-calendar-check"></i> Reservas</a>
            </li>

            <!-- Estadísticas -->
            <li class="nav-item">
                <a th:href="@{/admin/estadisticas}" class="nav-link"><i class="bi bi-graph-up-arrow"></i> Estadísticas</a>
            </li>
            <li class="nav-item"><a th:href="@{/admin/coordinadores}" class="nav-link"><i class="bi bi-person-badge"></i>Coordinadores</a></li>
        </ul>
    </nav>
</div>
