<!-- Fragmento Sidebar -->
<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="home.html">
            <span class="align-middle">Reservas San Miguel</span>
        </a>
        <ul class="sidebar-nav">

            <!-- Inicio -->
            <li class="sidebar-item">
                <a class="sidebar-link" href="home.html">
                    <i class="align-middle" data-feather="home"></i>
                    <span class="align-middle">Inicio</span>
                </a>
            </li>

            <!-- Mis Reservas -->
            <li class="sidebar-item">
                <a class="sidebar-link" href="mis-reservas.html">
                    <i class="align-middle" data-feather="calendar"></i>
                    <span class="align-middle">Mis Reservas</span>
                </a>
            </li>

            <!-- Notificaciones -->
            <li class="sidebar-item">
                <a class="sidebar-link" href="notificaciones.html">
                    <i class="align-middle" data-feather="bell"></i>
                    <span class="align-middle">Notificaciones</span>
                </a>
            </li>

            <!-- Reservar -->
            <li class="sidebar-header">Reservar</li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="ListaGimnasio.html">
                    <i class="align-middle" data-feather="activity"></i>
                    <span class="align-middle">Gimnasio</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="ListaLosa.html">
                    <i class="align-middle" data-feather="grid"></i>
                    <span class="align-middle">Cancha Losa</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="ListaGrass.html">
                    <i class="align-middle" data-feather="layers"></i>
                    <span class="align-middle">Cancha Grass</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="ListaPiscina.html">
                    <i class="align-middle" data-feather="droplet"></i>
                    <span class="align-middle">Piscina</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" href="ListaAtletismo.html">
                    <i class="align-middle" data-feather="wind"></i>
                    <span class="align-middle">Atletismo</span>
                </a>
            </li>

        </ul>
    </div>
</nav>
