<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <div class="sidebar-header">
            <img th:src="@{/img/logo-san-miguel.png}" alt="Logo Municipalidad">
            <div class="municipality-name">Coordinador</div> </div>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" th:classappend="${#request.requestURI.startsWith('/coordinador/home') ? 'active' : ''}" th:href="@{/coordinador/home}">
                    <i class="bi bi-house-door-fill"></i>
                    <span>Inicio</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:classappend="${#request.requestURI.startsWith('/coordinador/reservas') ? 'active' : ''}" th:href="@{/coordinador/reservas}">
                    <i class="bi bi-calendar-check"></i>
                    <span>Reservas</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" th:classappend="${#request.requestURI.startsWith('/coordinador/perfil') ? 'active' : ''}" th:href="@{/coordinador/perfil}">
                    <i class="bi bi-person"></i>
                    <span>Mi Perfil</span>
                </a>
            </li>
        </ul>
    </div>
</nav>