<nav id="sidebar">
    <div class="sidebar-header text-center py-4">
        <a th:href="@{/coordinador/home}" class="logo-link d-block">
            <img th:src="@{/img/logo_sanmiguel.png}" alt="Logo Municipalidad" class="img-fluid">
        </a>
        <span class="d-block mt-3 fw-bold" style="color: var(--primary-700)">Coordinador</span>
    </div>

    <ul class="nav flex-column sidebar-nav">
        <li class="nav-item">
            <a th:href="@{/coordinador/home}"
               th:classappend="${#request.requestURI.startsWith('/coordinador/home') ? 'active' : ''}"
               class="nav-link">
                <i class="bi bi-house-door-fill"></i>
                <span>Inicio</span>
            </a>
        </li>

        <li class="nav-item">
            <a th:href="@{/coordinador/reservas}"
               th:classappend="${#request.requestURI.startsWith('/coordinador/reservas') ? 'active' : ''}"
               class="nav-link">
                <i class="bi bi-calendar-check-fill"></i>
                <span>Reservas</span>
            </a>
        </li>

        <li class="nav-item">
            <a th:href="@{/coordinador/perfil}"
               th:classappend="${#request.requestURI.startsWith('/coordinador/perfil') ? 'active' : ''}"
               class="nav-link">
                <i class="bi bi-person-circle"></i>
                <span>Mi Perfil</span>
            </a>
        </li>
    </ul>
</nav>