<nav id="sidebar" class="sidebar js-sidebar ">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="coordinador-home.html" style="background-color: #fbb202;">
            <span class="align-middle" style="color: grey">Reservas San Miguel</span>
        </a>
        <ul class="sidebar-nav" style="background-color: #fbb202;">

            <!-- Inicio -->
            <li class="sidebar-item">
                <a class="sidebar-link" href="coordinador-home.html" style="background-color: #fbb202;">
                    <i class="align-middle" data-feather="home" style="color: grey"></i>
                    <span class="align-middle" style="color: grey">Inicio</span>
                </a>
            </li>

            <!-- Notificaciones -->
            <li class="sidebar-item">
                <a class="sidebar-link" href="coordinador-notificaciones.html" style="background-color: #fbb202;">
                    <i class="align-middle" data-feather="bell" style="color: grey"></i>
                    <span class="align-middle" style="color: grey">Notificaciones</span>
                </a>
            </li>

        </ul>
    </div>
</nav>